<div class="maincontant">
<div id="container" >
    <div class="overlay h-5">
        <p class="overlay-text">Where Love Begins</p>
        <p class="overlay-text">Discover Your Soulmate Today!</p>
        <button class="register-btn" routerLink="/register1">Register Free</button>
      </div>
</div>

<div class="text-text">Get.Ready.With.Us</div>

<div class="chat object-cover"></div>
<div class="beside">
    <p class="text-beside">Provide chat & vedio calls </p>
</div>

<div class="secure rounded-md"></div>
<div class="beside1">
    <p class="text-beside">Match with genuine folks with complete security! </p>
</div>
</div>