<div class="mb-[10%]">
    <div class="relative w-full h-[80vh] bg-cover bg-center flex justify-end items-end" style="background-image: url(../../../assets/images/lovely-couple-love-standing-forest.jpg);">
      <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center text-white">
        <p class="text-center relative text-[calc(1rem+1vw)] mb-1 font-['Rajdhani'] font-medium absolute right-1/4 bottom-[28%]">Where Love Begins</p>
        <p class="text-center relative text-[calc(1rem+1vw)] mb-2 font-['Rajdhani'] font-medium absolute right-1/4 bottom-[25%]">Discover Your Soulmate Today!</p>
        <button class="text-white py-2 px-4 rounded cursor-pointer text-2xl flex justify-center items-center mx-[10%] mb-2 border-[1.5px] border-[rgb(152,10,10)] hover:bg-[rgb(152,10,10)] absolute  right-0" routerLink="/register1">Register Free</button>
      </div>
    </div>
  
    <div class="text-3xl  text-center mt-5 font-serif">Get.Ready.With.Us</div>
  
    <div class="flex flex-col md:flex-row justify-start items-center mt-10">
      <div class="w-full md:w-[30%] h-[470px] bg-cover bg-center relative ml-0 md:ml-[100px]" style="background-image: url(../../../assets/images/2782017.jpg);"></div>
      <p class="text-3xl font-extrabold mt-5 md:mt-0 md:ml-[70px] md:-mb-[100px] p-2 font-serif">Provide chat & video calls</p>
    </div>
  
    <div class="flex flex-col md:flex-row-reverse justify-start items-center mt-10">
      <div class="w-full md:w-[30%] h-[400px] bg-cover bg-center relative mr-0 md:mr-[50px]" style="background-image: url(https://img.freepik.com/free-vector/flat-background-safer-internet-day_23-2151121216.jpg?t=st=1716963815~exp=1716967415~hmac=691aeb7de9860e784973a4023affa602aa4d398babeeb90eb64781066945de2a&w=1380);"></div>
      <p class="text-3xl font-extrabold mt-5 md:mt-0 md:mr-[70px] md:mt-[100px] px-8 m-2 font-serif">Match with genuine folks with complete security!</p>
    </div>
  </div>