<form [formGroup]="editPassword" (ngSubmit)="edit()">
    <h2 class="text-center text-red-800">Edit Password</h2>
    <mat-icon class="close-icon" (click)="close()">close</mat-icon>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="currentPassword" type="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" type="password">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Renter Password</mat-label>
            <input matInput formControlName="repeatPassword" type="password">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="centered-actions">
        <button mat-raised-button color="primary">Change</button>
    </div>
</form>