<footer id="footer">
    <div class="copyright">
      &copy; 2024 Your Company Name. All Rights Reserved.
    </div>
  
    <div class="social-links">
        <a href="#">
          <i class="fa-brands fa-facebook"></i></a>
          <a href="#">
            <i class="fa-brands fa-instagram"></i></a>
          <a href="#">
            <i class="fa-brands fa-square-twitter"></i> </a>
    </div>
  
    <!-- <div class="trust-logos">
      <img src="path/to/logo1.png" alt="Trust Logo 1">
      <img src="path/to/logo2.png" alt="Trust Logo 2">
    </div> -->
  <!-- </footer> -->
  
