
 <nav >
  <div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-white text-2xl font-serif">Perfect Elegance</a>
    <div 
      id="menu"
      class="absolute top-0 left-0 w-full h-full flex-col items-center justify-center bg-red-800 md:bg-transparent md:relative md:w-auto md:h-auto md:flex-row md:flex md:gap-8"
      [ngClass]="{'flex': isMenuVisible, 'hidden': !isMenuVisible, 'md:flex': true}">      
       @if(!isLoggedIn){
      <a href="#" class="text-white hover:text-gray-300 py-2 md:py-0">Home</a>
      <a href="#" class="text-white hover:text-gray-300 py-2 md:py-0">About us</a>
      <a href="#" class="text-white hover:text-gray-300 py-2 md:py-0">Contact us</a> 
      
      <button mat-riased-button class="bg-white text-red-800 h-8 px-4 rounded" (click)="openLoginPopUp()">Login</button>
      }
      
      @else if(isLoggedIn){
        <a routerLink="user/home" class="text-white hover:text-gray-300 py-2 md:py-0">Home</a>

        <a href="#" class="text-white hover:text-gray-300 py-2 md:py-0">Chat</a>
        <a href="#" class="text-white hover:text-gray-300 py-2 md:py-0">Upgrade</a>
        <a href="#" class="text-white hover:text-gray-300 py-2 md:py-0">Explore</a>
        <a href="#" class="text-white hover:text-gray-300 py-2 md:py-0">Help</a>

        <div class="user-profile">
          <!-- <img alt="User Image" class="user-image"> -->
          <!-- <ng-template > -->
            <!-- <img [src]="" alt="Default User Image" class="user-image rounded"> -->
            
          <!-- </ng-template> -->
          <span>{{ user }}</span>
        </div>
        
        
      }
       
    </div>
    <div class="text-2xl md:hidden">
      <mat-icon (click)="toggleMenu()">menu</mat-icon>
      <mat-icon></mat-icon>
    </div>
  </div>
</nav>
