@if (sidenav.mode === 'over') {
    <button mat-icon-button (click)="sidenav.toggle()">
        @if(!sidenav.opened){
        <mat-icon>menu</mat-icon>
        }
        @if (sidenav.opened) {
            <mat-icon>close</mat-icon>
        }
    </button>
    }
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="over"  class="sidenav" #sidenav="matSidenav">
      <div class="profile">
        <div class="profile-header">
          @if(profileImg.image){
          <img [src]="profileImg.image" alt="Profile Image" class="profile-image rounded object-cover">
          }
          <span class="profile-name" >{{user}}</span>
          <button mat-button color="warn" routerLink="/user/package">Upgrade Membership</button>
        </div>
        <div class="profile-details">
          <button  mat-button class="profilebutton" routerLink="/user/profile">
            <mat-icon max-w-full h-auto >person</mat-icon>
            <span>My Profile</span>
          </button>
          <mat-accordion>
            <mat-expansion-panel class="bg-white text-start">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>settings</mat-icon>
                  <span class="ml-4 ">Account Settings</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card class="p-1">
                <button mat-button>
                  <mat-icon>mail</mat-icon>
                  <span>sms/Email Alerts</span>
                </button>
                <button mat-button>
                  <mat-icon class="text-start">visibility_off</mat-icon>
                  <span>Hide Profile</span>
                </button>
                <button mat-button>
                  <mat-icon>lock</mat-icon>
                  <span>Edit Password</span>
                </button>
                <button mat-button>
                  <mat-icon>delete</mat-icon>
                  <span>Delete Profile</span>
                </button>
                <button mat-button  (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Logout</span>
                </button>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="help">
        <p>Help Line: 9745838383</p>
        <p>Email: perfectelegance  gmail.com</p>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      
      <div class="content mat-elevation-z1 h-auto">
        
        <router-outlet></router-outlet>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>