.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  
  }

  p {
    text-align: center; // Center the text
    margin-top: 20px; // Space between button and message
  }
  button {
    margin: 3px;
    
    
  }