<form [formGroup]="changePassword" (ngSubmit)="change()">
    <h2>Change Password</h2>
    <mat-icon class="close-icon" (click)="close()">close</mat-icon>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Enter your Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Renter your Password</mat-label>
        <input matInput formControlName="repeatPassword" type="password">
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="centered-actions">
      <button mat-raised-button color="primary">Change</button>
    </div>
  </form>
  