
<div class="card-container">
  
    @for (profile of profiles; track profile) {
    <mat-card class="profile-card" >
      <mat-card-header>
        <div mat-card-avatar class="profile-avatar" [style.background-image]="'url(' + profile.image + ')'" [style.background-size]="'cover'" [style.background-position]="'center'"></div>
        <mat-card-title class="card_title">{{profile.name}}</mat-card-title>
        <mat-card-subtitle class="card_subtitle">{{profile.dob}}</mat-card-subtitle>
        <mat-card-subtitle class="card_subtitle">{{profile.homeLocation}},{{profile.relegion}}</mat-card-subtitle>
      </mat-card-header>
      
      
      
      <mat-card-content class="card_content">
        <p>Education: {{profile.education}}</p>
        <p>Occupation: {{profile.profession}}</p>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>message</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
}
  </div>
  