<div class="card-container">
    @for (profile of profiles; track $index) {
    <mat-card class="profile-card" >
      <mat-card-header>
        <div mat-card-avatar class="profile-avatar"></div>
        <mat-card-title>{{profile.name}}</mat-card-title>
        <mat-card-subtitle>{{profile.dob}}, {{profile.location}}</mat-card-subtitle>
      </mat-card-header>
      @if(profile.image){
      <img mat-card-image [src]="profile.image" alt="Photo of {{profile.name}}">
      }
      <mat-card-content>
        <p>Education: {{profile.education}}</p>
        <p>Occupation: {{profile.occupation}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>message</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
}
  </div>
  