<form  [formGroup]="partenerUpdate" (ngSubmit)="submitForm()">
<mat-form-field class="pl-6 pr-6 pt-5">
    <mat-label>Education</mat-label>
    <mat-select formControlName="education">
      @for (edu of education; track edu) {
        <mat-option [value]="edu">{{edu}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Profession</mat-label>
    <mat-select formControlName="profession">
        @for(profession of professions; track profession){
        <mat-option [value]="profession">{{profession}}</mat-option>
        }
    </mat-select>
   </mat-form-field>

   <mat-form-field class="pl-6 pr-6">
    <mat-label>Country</mat-label>
    <input matInput formControlName="country">
  </mat-form-field>

  <mat-form-field class="pl-6 pr-6">
    <mat-label>City</mat-label>
    <input matInput formControlName="city">
  </mat-form-field>

  <div class="flex justify-center space-x-4">
    <button mat-raised-button color="primary" class="w-5" type="submit">Save</button>
    <button mat-raised-button color="warn" class="w-5" type="button" (click)="close()">Cancel</button>
  </div>

</form>