<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-red-800 mb-6">About Us</h1>
    
    <div class="mb-8">
      <p class="mb-4">PerfectElegance.com is premium matrimonial website for global people .Our aim to help the people to find their suitable life partner .We support thorugh good approach .it is not like dating app. </p>
      <p class="mb-4">We are among the most trustworthy and technically advanced matrimonial portals. PerfectElegance.com will make your matrimonial searches and online-match making a simple, easy and happy experience. No wonder as the number of memberships of PerfectElegance.com is greatly increasing day by day.</p>
    </div>
  
    <h2 class="text-2xl font-semibold text-red-800 mb-4">Highlights</h2>
    <ul class="list-disc list-inside mb-8">
      <li class="mb-2">Global and wide set of profiles.</li>
      <li class="mb-2">Free and easy profile registration.</li>
      <li class="mb-2">Registered profiles are manually screened or validated to ensure that they meet the norms of our site.</li>
      <li class="mb-2">E-mail & mobile alerts when members contact each other.</li>
      <li class="mb-2">Safe and secure site. 100% privacy guaranteed.</li>
 
    </ul>
  
    <h2 class="text-2xl font-semibold text-red-800 mb-4">Our Aim</h2>
    <div class="bg-green-50 p-6 rounded-lg">
      <p class="mb-4">Understand the needs and concerns of single people through tireless research and analysis. Provide a pleasant, satisfying, and superior matchmaking experience to our customers while ensuring their privacy and security.</p>
      <p class="mb-4">Give our customers complete control through easy to use interfaces and features that can help them identify, filter and contact potential partners.

        PerfectElegance.com is entirely committed to all. It is quite safe, secure and confidential.  PerfectElegance.com fulfills all needs of today's singles that are truly searching for suitable and valuable ways to meet with their prospective life partners.</p>
    </div>
  </div>