
<div class=" rounded-lg shadow-lg m-4 p-2">
  <div class="flex flex-wrap justify-between items-center border-b p-2 m-4 shadow">
      <h1 class="text-xl font-semibold text-black">My Profile</h1>
  </div>
  <div class="flex flex-wrap items-center justify-between bg-card p-4 rounded-lg shadow m-4">
    <div class="flex items-center mb-4 sm:mb-0">
      
      <input type="file" class="hidden" id="fileInput" (change)="handleFileInput($event)" name="multipartFile"/>
      <label for="fileInput" class="cursor-pointer text-muted-foreground text-sm">Select Photo</label>
    </div>
    <button class="bg-gradient-to-r from-green-400 to-green-600 text-white py-1 px-2 rounded text-sm" type="submit" (click)="uploadFileToActivity()" >Upload Photo</button>
  </div>

  


  <div class="flex flex-wrap bg-card p-4 rounded-lg shadow-lg m-4">
      <div class="object-cover ">
      <img [src]="profileData.image" alt="Profile Picture" class="m-4 rounded  sm:mb-0 " />
      </div>
      <div class="text-sm text-black m-4">
          <h2 class="text-lg font-semibold">{{profile.name|uppercase}}</h2>
          <p>{{profile.height}} cm, {{profile.weight}} kg</p>
          <p>{{profile.maritalStatus}}</p>
          <p>{{profile.education}}</p>
          <p>{{profile.homeLocation}}</p>
      </div>
  </div>
  <div class="bg-card p-4 rounded-lg border m-4 text-black shadow-lg ">
      <div class="flex flex-wrap justify-between items-center border-b pb-2 mb-2">
          <h3 class="text-lg font-semibold text-blue-900">Basic Information</h3>
          <button class="text-white  bg-blue-800 rounded px-1 py-0.5 shadow" (click)="openEditBasicInfoPopup()">
            <mat-icon class="text-sm">edit</mat-icon> 
            </button>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
              <p>
                <span class="text-sm text-gray-500">Name: </span>
                <span class="text-sm ml-4">{{profile.name}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Gender:</span>
                <span class="text-sm ml-4"> {{profile.gender}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Marital Status:</span>
                <span class="text-sm ml-4"> {{profile.maritalStatus}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Physical Status:</span>
                <span class="text-sm ml-4"> {{profile.physicaleStatus}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Complexion:</span>
                <span class="text-sm ml-4">{{profile.skinTone}}</span>
             </p>
   
          </div>
          <div class="bg-radius">
              <p>
                <span class="text-sm text-gray-500">Date of birth: </span>
                <span class="text-sm ml-4">{{profile.dob}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Profile Created for: </span>
                <span class="text-sm ml-4">{{profile.createProfileFor}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Education:</span>
                <span class="text-sm ml-4"> {{profile.education}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Profession: </span>
                <span class="text-sm ml-4">{{profile.profession}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Body type:</span>
                <span class="text-sm ml-4">{{profile.bodyType}}</span>
            </p>

          </div>
      </div>
  </div>
  <div class="bg-card p-4 rounded-lg text-black m-4 border shadow-lg">
      <div class="flex flex-wrap justify-between items-center border-b pb-2 mb-2">
          <h3 class="text-lg font-bold text-blue-900">Educational and Professional Information</h3>
          <button class="text-white bg-blue-800 rounded px-1 py-0.5" (click)="openEditEduProfPopup()">
            <mat-icon class="text-sm">edit</mat-icon> 
            </button>

      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
              <p>
                <span class="text-sm text-gray-500">Willing to Relocate:</span>
                <span class="text-sm ml-4">{{profileData.willingToRelocate}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Educational Institute:</span>
                <span class="text-sm ml-4">{{profileData.educationInstitute}}</span>
            </p>

          </div>
          <div>
              <p>
                <span class="text-sm text-gray-500">Marriage Plan:</span>
                 <span class="text-sm ml-4">{{profileData.marriagePlans}}</span>
                </p>
              <p>
                <span class="text-sm text-gray-500">Languages known:</span>
                <span class="text-sm ml-4">{{profileData.languagesKnown}}</span>
            </p>

          </div>
      </div>
  </div>
  <div class="bg-card p-4  text-black m-4 border rounded-lg shadow-lg ">
      <div class="flex flex-wrap justify-between items-center border-b pb-2 mb-2">
          <h3 class="text-lg font-semibold text-blue-900">Physical Attributes</h3>
          <button class="text-white  bg-blue-800 rounded px-1 py-0.5" (click)="openPhysicalAttributesPopup()">
            <mat-icon class="text-sm">edit</mat-icon> 
            </button>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
              <p>
                <span class="text-sm text-gray-500">Blood group:</span>
                <span class="text-sm ml-4">{{profileData.bloodGroup}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Hair type:</span>
                <span class="text-sm ml-4">{{profileData.hairType}}</span>
            </p>
          </div>
          <div>
              <p>
                <span class="text-sm text-gray-500">Hair color:</span>
                <span class="text-sm ml-4">{{profileData.hairColor}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Eye color:</span>
                <span class="text-sm ml-4">{{profileData.eyeColor}}</span>
            </p>
          </div>
      </div>
  </div>
  <div class="bg-card p-4  text-black m-4 border rounded-lg shadow-lg">
      <div class="flex flex-wrap justify-between items-center border-b pb-2 mb-2">
          <h3 class="text-lg font-semibold text-blue-900">Location and Contact Details</h3>
          <button class="text-white  bg-blue-800 rounded px-1 py-0.5" (click)="openLocationAndContactPopup()">
            <mat-icon class="text-sm">edit</mat-icon> 
            </button>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
          <div>
              <p>
                <span class="text-sm text-gray-500">Present Location:</span>
                <span class="text-sm ml-4"> {{profile.currentLocation}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Home Location:</span>
                <span class="text-sm ml-4">{{profile.homeLocation}}</span>
            </p>
          </div>
          <div>
              <p>
                <span class="text-sm text-gray-500">Residential Status: </span>
                <span class="text-sm ml-4">{{profile.residentialStatus}}</span>
            </p>
          </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 border m-4 border-red-800 p-2  rounded-lg">
          <div>
              <p>
                <span class="text-sm text-gray-500">Email:</span>
                <span class="text-sm ml-4"> {{profile.email}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Contact person:</span>
                <span class="text-sm ml-4"> {{profile.contactPersonAndRelationship}}</span>
            </p>
          </div>
          <div>
              <p>
                <span class="text-sm text-gray-500">Phone: </span>
                <span class="text-sm ml-4">{{profile.phoneNumber}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Contact type: </span>
                <span class="text-sm ml-5">{{profile.preferredContactType}}</span>
            </p>
          </div>
      </div>
  </div>
  <div class="bg-card p-4 rounded-lg shadow-lg text-black m-4 border">
      <div class="flex flex-wrap justify-between items-center border-b pb-2 mb-2">
          <h3 class="text-lg font-semibold text-blue-900">Family Details</h3>
          <button class="text-white  bg-blue-800 rounded px-1 py-0.5" (click)="openHomeDetailPopup()">
            <mat-icon class="text-sm">edit</mat-icon> 
            </button>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
              <p>
                <span class="text-sm text-gray-500">Family Type:</span>
                <span class="text-sm ml-4">{{profileData.familyType}}</span>
            </p>
              <p>
                <span class="text-sm text-gray-500">Home type:</span>
                <span class="text-sm ml-4">{{profileData.homeType}}</span>
            </p>
              
          </div>
          <div>
            <p>
                <span class=" text-gray-500 text-sm">Living situation:</span>
                <span class="text-sm ml-4">{{ profileData.livingSituation }}</span>
              </p>
                           
          </div>
      </div>
  </div>
  <div class="bg-red-800 p-4 rounded m-4 shadow">
      <p><span class="text-lg text-white">Partner Preferences</span></p>
  </div>
  <div class="bg-card p-4 rounded-lg shadow-lg text-black m-4">
      <div class="flex flex-wrap justify-between items-center border-b pb-2 mb-2">
          <h3 class="text-lg font-semibold text-blue-900">Basic Preferences</h3>
          <button class="text-white  bg-blue-800 rounded px-1 py-0.5" (click)="openEditPartnerBasicInfoPopup()">
            <mat-icon class="text-sm">edit</mat-icon> 
            </button>
        </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
              <p>
                <span class="text-sm text-gray-500">Age Preferences:</span>
                <span class="text-sm ml-4">{{partner.age}}</span>
              </p>
              <p>
                <span class="text-sm text-gray-500">Height Preferences:</span>
                <span class="text-sm ml-4">{{partner.height}}</span>
              </p>
              <p>
                <span class="text-sm text-gray-500">Physical Status:</span>
                <span class="text-sm ml-4">{{partner.physicalStatus}}</span>
              </p>
              <p>
                <span class="text-sm text-gray-500">Drinking Habits:</span>
                <span class="text-sm ml-4">{{partner.drinkingHabits}}</span>
              </p>
              <p>
                <span class="text-sm text-gray-500">Appearance:</span>
                <span class="text-sm ml-4">{{partner.appearance}}</span>
              </p>
          </div>
          <div>
              <p>
                <span class="text-sm text-gray-500">Marital status:</span>
                <span class="text-sm ml-4">{{partner.maritalStatus}}</span>
              </p>
              <p>
                <span class="text-sm text-gray-500">Complexion:</span>
                <span class="text-sm ml-4">{{partner.complexion}}</span>
              </p>
              <p>
                <span class="text-sm text-gray-500">Language spoken:</span>
                <span class="text-sm ml-4">{{partner.languagesSpoken}}</span>
              </p>
              <p>
                <span class="text-sm text-gray-500">Religion:</span>
                <span class="text-sm ml-4">{{partner.religion}}</span>
              </p>
              <p>
                <span class="text-sm text-gray-500">Mother tongue:</span>
                <span class="text-sm ml-4">{{partner.motherTongue}}</span>
              </p>
          </div>
      </div>
  </div>
  <div class="bg-card p-4 rounded-lg shadow-lg text-black m-4 border">
      <div class="flex flex-wrap justify-between items-center border-b pb-2 mb-2">
          <h3 class="text-lg font-semibold text-blue-900">Educational and Professional Preference</h3>
          <button class="text-white bg-blue-800 rounded px-1 py-0.5" (click)="openEditPartnerEduAndProfInfo()">
            <mat-icon class="text-sm">edit</mat-icon> 
            </button>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
              <p>
                <span class="text-sm text-gray-500">Education:</span>
                <span class="text-sm ml-4">{{partner.education}}</span>
              </p>
              <p>
                <span class="text-sm text-gray-500">Profession:</span>
                <span class="text-sm ml-4">{{partner.profession}}</span>
              </p>

          </div>
          <div>
            <p>
              <span class="text-sm text-gray-500">Present country:</span>
              <span class="text-sm ml-4">{{partner.country}}</span>
            </p>
            <p>
              <span class="text-sm text-gray-500">Present city:</span>
              <span class="text-sm ml-4">{{partner.city}}</span>
            </p>
          </div>
      </div>
  </div>
</div>

