<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 py-6 sm:py-12 ">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto justify-center">
      <div class="absolute inset-0 bg-gradient-to-r from-green-400 to-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
      <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
        <h1 class="text-4xl font-bold text-center mb-4 text-green-500">Payment Successful!</h1>
        <p class="text-gray-600 text-center text-4xl">Thank you for your subscription. Your transaction has been completed successfully.</p>
        
      </div>
    </div>
  </div>
  