<div class="header">
 <h1>Register Now For Free!</h1>
 <p>Find your special someone from lakhs of varified profiles</p>
</div>

<form [formGroup]="userRegister" (ngSubmit)="handleSubmit()">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
     <mat-step [stepControl]="getAccountSetup()">
      <div formGroupName="accountSetUp">
       <ng-template matStepLabel>Account set up</ng-template>
        <p>To set up account</p>
        <mat-form-field class="mat-50" appearance="fill">
         <mat-label>Create Profile For</mat-label>
         <mat-select formControlName="createProfileFor">
             @for(choose of select; track choose){
             <mat-option [value]="choose">{{choose}}</mat-option>
             }
         </mat-select>
        </mat-form-field>
        <mat-form-field  appearence="fill" class="mat-50">
         <mat-label>Bride/Groom Name</mat-label>
         <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field  appearence="fill" class="mat-50">
         <mat-label>Phone Number</mat-label>
         <input matInput formControlName="phoneNumber">
        </mat-form-field>
         <mat-label>Gender</mat-label >
           <mat-radio-group formControlName="gender" class="mat-50">
             <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
           </mat-radio-group>
         <div>
           <button mat-raised-button matStepperNext color="primary" >Next</button>
         </div>
       </div>  
     </mat-step>
     <mat-step [stepControl]="getBasicInfo()">
       <div formGroupName="basicInformation">
       <ng-template matStepLabel>Basic Information</ng-template>
       <p>You have completed 20%</p>
       <mat-form-field>
         <mat-label>Date Of Birth</mat-label>
         <input matInput [matDatepicker]="myDatePicker"  formControlName="DOB">
         <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
         <mat-datepicker #myDatePicker></mat-datepicker>
       </mat-form-field>
       <mat-form-field>
         <mat-label>Religion</mat-label>
         <mat-select formControlName="relegion">
             @for(religion of religions; track religion){
             <mat-option [value]="religion">{{religion}}</mat-option>
             }
         </mat-select>
        </mat-form-field>
        <mat-form-field>
         <mat-label>Nationality</mat-label>
         <mat-select formControlName="nationality">
             @for(country of countries; track country){
             <mat-option [value]="country.name.common">{{country.name.common}}</mat-option>
             }
         </mat-select>
        </mat-form-field>
        <mat-form-field>
         <mat-label>Email Id</mat-label>
         <input matInput  placeholder="abc@gmail.com" formControlName="email">
        </mat-form-field>
        <mat-form-field>
         <mat-label>Password</mat-label>
         <input matInput  placeholder="Password" formControlName="password" type="password">
       </mat-form-field>

       <div>
         <button mat-raised-button matStepperPrevious color="primary">Back</button>
         <button mat-raised-button matStepperNext color="primary">Next</button>
       </div>
     </div> 
     </mat-step>
     <mat-step [stepControl]="getPersonalDetails()">
       <div formGroupName="personalDetails">
       <ng-template matStepLabel>Personal Details</ng-template> 
       <p>Greate !! to have completed 45%</p> 
       <mat-form-field>
         <mat-label>Height</mat-label>
         <input matInput formControlName="height">
        </mat-form-field>
        <mat-form-field>
         <mat-label>Weight</mat-label>
         <input matInput formControlName="weight">
        </mat-form-field>
        <mat-form-field>
         <mat-label>Skin Tone</mat-label>
         <mat-select formControlName="skinTone">
             @for(skinTone of skinTones; track skinTone){
             <mat-option value="skinTone">{{skinTone}}</mat-option>
             }
         </mat-select>
        </mat-form-field>
        <mat-label>Marital Status</mat-label>
        <mat-radio-group formControlName="maritalStatus" class="mat-50">
          <mat-radio-button value="Single">Single</mat-radio-button>
          <mat-radio-button value="Married">Married</mat-radio-button>
          <mat-radio-button value="Widow">Widow/Widower</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
         <mat-label>Body Type</mat-label>
         <mat-select formControlName="bodyType">
             @for(bodyType of bodyTypes; track bodyType){
             <mat-option [value]="bodyType">{{bodyType}}</mat-option>
             }
         </mat-select>
        </mat-form-field>
        <mat-label>Physically challenged?</mat-label>
           <mat-radio-group formControlName="physicaleStatus">
           <mat-radio-button value="Yes">Yes</mat-radio-button>
           <mat-radio-button value="No">No</mat-radio-button>
        </mat-radio-group> 
       <div>        
         <button mat-raised-button  matStepperPrevious color="primary">Back</button>
         <button mat-raised-button  matStepperNext color="primary">Next</button>
       </div>
     </div>
     </mat-step>
     <mat-step [stepControl]="getEducationAndLocation()">
       <div formGroupName="educationAndLocation">
       <ng-template matStepLabel>Education & Location</ng-template>
       <p>Greate !! to have completed 75%</p>  
        <mat-form-field>
         <mat-label>Education</mat-label>
         <mat-select formControlName="education">
             @for(edu of education; track edu){
             <mat-option [value]="edu">{{edu}}</mat-option>
             }
         </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Profession</mat-label>
          <mat-select formControlName="profession">
              @for(profession of professions; track profession){
              <mat-option [value]="profession">{{profession}}</mat-option>
              }
          </mat-select>
         </mat-form-field>
        <mat-form-field >
         <mat-label>Home Location</mat-label>
         <!-- <input matInput> -->
         <textarea matInput formControlName="homeLocation"></textarea>
        </mat-form-field>
        <mat-form-field >
         <mat-label>current Location</mat-label>
         <!-- <input matInput> -->
         <textarea matInput formControlName="currentLocation"></textarea>
        </mat-form-field>
        
       <div>
         <button mat-raised-button  matStepperPrevious color="primary">Back</button>
         <button mat-raised-button matStepperNext color="primary">Next</button>
       </div>
     </div> 
     </mat-step>
     <mat-step [stepControl]="getSelfDescription()">
       <div formGroupName="selfDescription">
       <ng-template matStepLabel>Self Description</ng-template>  
       <p>Greate !! to have completed 90%</p>
       <mat-form-field>
         <mat-label>Mother Tongue</mat-label>
         <mat-select formControlName="motherTongue">
          @for(language of languages; track language){
          <mat-option [value]="language">{{language}}</mat-option>
          }
         </mat-select>
         </mat-form-field>

         <mat-form-field>
         <mat-label>Eating Habits</mat-label>
         <mat-select formControlName="eatingHabits">
          @for(eatHabit of eatHabits; track eatHabit){
          <mat-option [value]="eatHabit">{{eatHabit}}</mat-option>
          }
          </mat-select>
         </mat-form-field>
         
         <mat-form-field>
           <mat-label>Finacial Status</mat-label>
           <mat-select formControlName="financialStatus">
            @for(finance of financialStatus; track finance){
            <mat-option [value]="finance">{{finance}}</mat-option>
            }
            </mat-select>
         </mat-form-field>

         <mat-form-field>
           <mat-label>PrimaryNumber</mat-label>
           <input matInput formControlName="primaryNumber" >
         </mat-form-field>

         <mat-form-field>
           <mat-label>SecondryNumber</mat-label>
           <input matInput formControlName="secondryNumber"  >
         </mat-form-field>

         <mat-form-field>
           <mat-label>Preferred Contact Type</mat-label>
           <mat-select formControlName="preferredContactType">
            @for(contact of contactType; track contact){
            <mat-option [value]="contact">{{contact}}</mat-option>
            }
            </mat-select>
         </mat-form-field>
         
         <mat-form-field>
           <mat-label>Contact Person & Relationship</mat-label>
           <input matInput formControlName="contactPersonAndRelationship">
         </mat-form-field>
         
         <mat-form-field>
           <mat-label>Convenient Time To Call</mat-label>
           <mat-select formControlName="convenientTimeToCall">
            @for(time of times; track time){
            <mat-option [value]="time">{{time}}</mat-option>
            }
            </mat-select>
         </mat-form-field>
       
       <div>
         <button mat-raised-button color="primary" matStepperPrevious>Back</button>
         <button mat-raised-button color="accent" type="submit" matStepperNext>Submit</button>
       </div>
     </div>
     </mat-step>
     <!-- <mat-step optional>
     <ng-template matStepLabel>Add Photo</ng-template>   
     <div>
       <p>Add Photo</p>
       <button mat-raised-button color="primary">
        Skip
       </button>
     </div> 
     </mat-step> -->
    </mat-horizontal-stepper>
   </form>  
